/*Esta es la hoja de estilo flex*/
.menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sobre_mi {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;    
}

.sobre_mi > * {
    margin-bottom: 5px;
}

.sobre_mi_contenido {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}