/*Esta es la hoja de estilo flex*/
.menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.titulo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sobre_mi {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;    
}

.sobre_mi > * {
    margin-bottom: 5px;
}

.sobre_mi_contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.pasatiempos,
.habilidades,
.formaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.pasatiempos ul,
.habilidades ul,
.formaciones ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pasatiempos li,
.habilidades li,
.formaciones li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    padding: 10px;
    margin-bottom:  10px;
    width: 20%;
}

.pasatiempos li:hover,
.habilidades li:hover,
.formaciones li:hover {
    transform: scale(1.3);
    z-index: 2;
    transition: 0.5s;
}