/* Empezamos con el Estilo*/
::before,
::after {
    --color1: #8ba6ac;
    --color2: #d7d7b8;
    --color3: #e5e6c9;
    --color4: #f8f8ec;
    --color5: #bdcdd0;
}

ul {
    list-style-type: none;
}

h2 {
    color: #d7d7b8
}

.todo {
    font-size: 25px;
    color: #f8f8ec;
    background: #8ba6ac;
}

.menu {
    color: #bdccd0;
}

.menu nav {
    position: fixed;
    top: 0;
    background-color: #8ba6ac;
    color: #d7d7b8;
    width: 100%;
    z-index: 999;
    margin-bottom: 0px;
}

.menu nav ul li {
    margin-right: 25px;
}

.menu nav ul li:hover {
    font-size: 35px;
    color: #e5e6c9;
}

.menu nav ul li a {
    text-decoration: none;
    color: inherit;
}

.fotobenji {
    background-image: url("imgs/Yosoybenji1.png");
    width: 200px;
    height: 200px;
    background-size: cover;
}